main h1 {
    font-size: 1.5em;
    padding-bottom: 0.25em;
}

main h2 {
    font-size: 1.25em;
    color: var(--aux-color-2);
}

.two-cols {
    display: grid;
}

.formula {
    width: 80%;
    margin: 0 auto 5%;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    cursor: pointer;
    font-size: 0.75em;
}

.mult::after {
    content: '⋅';
    padding: 0 0.5ch;
}

.formula .equation {
    display: flex;
    gap: 0.5ch;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--aux-font);
}

.formula .equation > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula .equation::after {
    content: "=";
    display: block;
}

.formula .equation .left-part { order: 1; }
.formula .equation::after { order: 2; }
.formula .equation .right-part { order: 3; }

.formula .fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formula .fraction .numerator {
    padding: 0 0.5ch;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 0.25ch;
}

.comp-list > ol {
    display: flex;
    flex-direction: column;
}

.comp-list .component {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.comp-list .component span {
    font-family: var(--aux-font);
    transition: all 0.1s ease-in-out;
    display: inline-block;
}

.comp-list h3 {
    margin: 0;
    font-family: var(--main-font);
    font-weight: 600;
}

.component:hover span,
#final-grade .task-grade:hover,
#task-grade .formula-task-comp:hover {
    color: var(--highlight-color);
}

body #assessments:has(#T1:hover) #gT1, body #assessments:has(#gT1:hover) #T1 span,
body #assessments:has(#T2:hover) #gT2, body #assessments:has(#gT2:hover) #T2 span,
body #assessments:has(#T3:hover) #gT3, body #assessments:has(#gT3:hover) #T3 span,
body #assessments:has(#T4:hover) #gT4, body #assessments:has(#gT4:hover) #T4 span,
body #assessments:has(#T5:hover) #gT5, body #assessments:has(#gT5:hover) #T5 span
{color: var(--highlight-color); }

body #assessments:has(#tcA:hover) #task-comp-A span, body #assessments:has(#task-comp-A:hover) #tcA,
body #assessments:has(#tcR:hover) #task-comp-R span, body #assessments:has(#task-comp-R:hover) #tcR,
body #assessments:has(#tcG:hover) #task-comp-G span, body #assessments:has(#task-comp-G:hover) #tcG
{color: var(--highlight-color); }

#schedule #assessments {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

#schedule .assessment {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#schedule .assessment h3 {
    padding: 1em;
    background-color: var(--aux-color-1);
    color: var(--base-color);
    font-weight: 900;
    font-variant: small-caps;
    text-wrap: balance;
    border-radius: var(--r);
}

#schedule .assessment ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#schedule .assessment li {
    --color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: inset 0 0 0 1px var(--color);
    border-radius: 0 var(--r) var(--r) var(--r);
    position: relative;
    text-wrap: balance;
}

#schedule .assessment li .date{
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(--color);
    padding: var(--r);
    padding-bottom: 0;
    border-radius: var(--r) var(--r) 0 0;
    font-size: 0.75em;
    font-weight: 900;
    color: var(--base-color);
}

#schedule .assessment li p {
    line-height: 1;
    position: relative;
}

#schedule .assessment li p:not(:first-of-type) {
    margin-top: 0.5em;
}

#schedule .assessment li p::before {
    content: '';
    width: 0.75em;
    height: 0.75em;
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-block;
    margin-right: 0.25em;
}

#schedule .assessment li.check {
    --color: var(--main-color);
    opacity: 0.5;
}

#schedule .assessment li.check p {
    text-decoration: line-through;
    font-weight: 300;
}

#schedule .assessment li.check p::after {
    position: absolute;
    top: 0.125em;
    left: 0.125em;
    content: '';
    width: 0.5em;
    height: 0.5em;
    background-color: var(--color);
    border-radius: 1px;
}

@media screen and (orientation: landscape) {

    .two-cols {
        gap: 5%;
        grid-template-columns: 1fr 1fr;
    }

    .formula {
        font-size: 1em;
    }

    #schedule #assessments {
        display: grid;
        gap: 1em;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(var(--rows), auto);
        grid-auto-flow: column;
        align-items: start;
    }

    #schedule .assessment {
        display: grid;
        grid-row: 1/-1;
        grid-template-rows: subgrid;
        grid-template-columns: 1fr;
    }

    #schedule .assessment h3 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #schedule .assessment ul {
        display: grid;
        grid-row: 2/-1;
        grid-column: 1/2;
        grid-template-rows: subgrid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    #schedule .assessment li {
        grid-column: 1;
    }

}